# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env
.env.*

# Django migrations (optional, if regenerating often)
**/migrations/*.py
!**/migrations/__init__.py
**/migrations/*.pyc

# VSCode settings
.vscode/

# Virtual environments
venv/
env/
.venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
*.sublime-workspace
*.sublime-project

# System files
.DS_Store
Thumbs.db
desktop.ini

# Python-specific caches
pip-wheel-metadata/
__pypackages__/

# Test and coverage
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.coverage.*
.cache
nosetests.xml
test_*.log
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# Jupyter notebooks
.ipynb_checkpoints/

# Build system
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Docker
*.pid
*.seed
*.pid.lock
