@import "tailwindcss";

:root {}

@theme {
    --font-title: "utopia-std-headline", "serif";
    --color-linen: #ece7e2;
    --color-midnight: #252c37;
}

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


*,
*::after,
*::before {
    transition: all ease-in 0.4s;
}

[data-theme="dark"] {

    body,
    html {
        background-color: black;
    }
}

[data-theme="light"] {

    body,
    html {
        background-color: var(--color-linen);
    }
}