{% extends 'base.html' %}
{% load static %}
{% block Headers %}
<link rel="stylesheet" href="{% static 'port/port.css' %}" />
{% endblock %}
{% block Contenido %}
<section class="Hero" id="Hero">
  <h1>BAA4TS</h1>
</section>
<section class="About" id="About">
  <div class="About-Contenedor">
    <div class="About-Contenedor-Img"><img src="https://avatars.githubusercontent.com/u/178568801?v=4" alt=""></div>
    <div class="About-Contenedor-Texto">
      <h2>Sobre mí</h2>
      <br>
      <p>Hola 👋🏻, soy Carlos Morales, también conocido como baa4ts. Soy desarrollador backend especializado en Django
        (Python) y PHP. Me gusta trabajar en la lógica del servidor, escribir código limpio y hacer que todo funcione
        bien por detrás.</p>
    </div>
  </div>
</section>
{% endblock %}