{% extends 'base.html' %}
{% load static %}
{% block Headers %}
<link rel="stylesheet" href="{% static 'port/port.css' %}" />
{% endblock %}
{% block Contenido %}
<section class="hero view" id="Hero">
  <div class="hero-font">
    <H1>BAA4TS</H1>
    <p>BackEnd developer</p>
  </div>
</section>
<section class="view about">
  <div class="about-top cec">
    <h1>About</h1>
  </div>
  <div class="about-body cec">
    <section class="about-body-contenedor">
      <div class="about-body-contenedor-img cec">
        <img src="https://avatars.githubusercontent.com/u/178568801?v=4" alt="">
      </div>
      <div class="about-body-contenedor-txt cec">
        <p>Hola 👋🏻, soy Carlos Morales, también conocido como baa4ts. Soy desarrollador backend especializado en
          Django (Python) y PHP. Me gusta trabajar en la lógica del servidor, escribir código limpio y hacer que todo
          funcione bien por detrás.
        </p>
      </div>
    </section>
  </div>
</section>
{% endblock %}