@import 'tailwindcss';

@theme {
  /* Fuentes */
  --font-consolas: 'Consolas', 'Courier New', monospace;

  /* Colors */
  --color-white-cream-vanill: #efe6de;
  --color-pink-punchy-pink: #dd3a44;
}

body,
html {
  overflow-y: visible;
  overflow-x: hidden;
  background-color: black;
}
