.view {
    width: 100%;
    background-color: var(--color-fondo);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero-font {
    text-align: center;
    color: var(--color-inverso);
    font-family: monospace;

    h1 {
        font-family: "Dx";
        font-size: 140px;
        letter-spacing: 5px;
    }
}

@media (max-width: 450px) {
    .hero-font {
        h1 {
            font-size: 70px;
        }
    }
}

.about {
    height: 100vh;
}

.cec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-top {
    font-family: "Dx";
    height: 15%;
    font-size: 30px;
    color: var(--color-inverso);
}

@media (min-width: 650px) {
    .about-top {
        font-size: 45px;
        letter-spacing: 5px;
    }
}

.about-body {
    height: 85%;
    width: 100%;
}

.about-body-contenedor {
    height: 90%;
    width: 80%;
}

.about-body-contenedor {
    display: flex;
    flex-direction: column;
}

.about-body-contenedor-img {

    img {
        height: 320px;
        width: 320px;
        border-radius: 45px;
    }
}


.about-body-contenedor-txt {
    p {
        color: var(--color-inverso);
    }
}

@media (max-width: 599px) {

    .about-body-contenedor {
        height: 85%;
        width: 100%;
    }

    .about-body-contenedor {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 25px;
    }

    .about-body-contenedor-img {
        width: 100%;

        img {
            width: 60%;
            height: 180px;
        }
    }

    .about-body-contenedor-txt {
        p {
            font-family: monospace;
            font-size: 15px;
            margin: 10px;
        }
    }
}


@media (min-width: 600px) {
    .about-body-contenedor {
        flex-direction: row;
    }

    .about-body-contenedor-img {
        width: 45%;

        img {
            width: 85%;
        }
    }

    .about-body-contenedor-txt {
        width: 65%;

        p {
            margin: 25px;
            font-family: monospace;
            font-size: 20px;
        }
    }
}