.view {
    height: 100vh;
    width: 100%;
    background-color: var(--color-fondo);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-font {
    text-align: center;
    color: var(--color-inverso);
    font-family: monospace;

    h1 {
        font-size: 120px;
    }
}

@media (max-width: 450px) {
    .hero-font {
        h1 {
            font-size: 80px;
        }
    }
}