.view {
    width: 100%;
    background-color: var(--color-fondo);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero-font {
    text-align: center;
    color: var(--color-inverso);
    font-family: monospace;

    h1 {
        font-family: "Dx";
        font-size: 140px;
        letter-spacing: 5px;
    }
}

@media (max-width: 450px) {
    .hero-font {
        h1 {
            font-size: 70px;
        }
    }
}