@font-face {
    font-family: 'Dx-1';
    src: url('/static/font/DxKord-InktrapCompressed.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dx-2';
    src: url('/static/font/DxKord-InktrapExpanded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dx-3';
    src: url('/static/font/DxKord-InktrapUltraExpanded.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


*,
::after,
::before {
    box-sizing: border-box
}

* {
    margin: 0
}

@media (prefers-reduced-motion:no-preference) {
    html {
        interpolate-size: allow-keywords
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

canvas,
img,
picture,
svg,
video {
    display: block;
    max-width: 100%
}

button,
input,
select,
textarea {
    font: inherit
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    overflow-wrap: break-word
}

p {
    text-wrap: pretty
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance
}

#__next,
#root {
    isolation: isolate
}


/* --------------------------------- */

/* #181818 */

:root[data-scheme="light"] {
    --color-fondo: #181818;
}

:root[data-scheme="dark"] {
    --color-fondo: #EBDDC4;
}