@import "tailwindcss";

@font-face {
  font-family: 'BreezeSansThin';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('/fonts/BreezeSans-Thin_20150728.ttf') format('truetype');
}

@font-face {
  font-family: 'BreezeSansBold';
  font-style: normal;
  font-weight: 700;
  /* Bold */
  font-display: swap;
  src: url('/fonts/BreezeSans-Bold_20150728.ttf') format('truetype');
}

@theme {
  --font-bre-thin: "BreezeSansThin", sans-serif;
  --font-bre-bold: "BreezeSansBold", sans-serif;
}

body {
  @apply m-0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}